/* 토스트 애니메이션 */
@keyframes fadeInOut {
  0% { opacity: 0; bottom: 80px; }
  15% { opacity: 1; bottom: 100px; }
  85% { opacity: 1; bottom: 100px; }
  100% { opacity: 0; bottom: 80px; }
}

/* 스피너 회전 애니메이션 */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* 버튼 공통 스타일 */
.buttonStyle {
    padding: 10px 15px;
    background-color: #f8c967; /* 붕어빵 색상 테마 */
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
/* 토스트 스타일 클래스 */
.toast-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  font-weight: bold;
  padding: 12px 48px;
  border-radius: 20px;
  z-index: 2000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 3s ease-in-out;
}
/* bottom: "100px", */
/* 스피너 스타일 클래스 */
.spinner-overlay {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

.bungeo-spinner {
  width: 80px;
  animation: spin 2s linear infinite;
}